@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

.App {
  text-align: center;
  font-family: 'Rowdies', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1d1d1f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.colorCard {
  height: 200px;
  width: 200px;
}

.cardWrapper {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
}

.cardWrapperLost {
  display: flex;
  width: 500px;
  opacity: 0.2;
  flex-wrap: wrap;
}

.green {
  width: 200px;
  height: 200px;
  opacity: 0.5;
  box-sizing: border-box;
  background: rgb(53, 163, 66);
  cursor: pointer;
  animation: 0s ease 0s 1 normal none running none;
  transition: all 0.2s ease 0s;
  border-radius: 320px 20px 20px;
  min-width: 0px;
  margin: 4px;
  &.flash {
    opacity: 1;
  }
}

.red {
  width: 200px;
  height: 200px;
  opacity: 0.5;
  box-sizing: border-box;
  background-color: rgb(255, 65, 54);
  cursor: pointer;
  animation: 0s ease 0s 1 normal none running none;
  transition: all 0.2s ease 0s;
  border-radius: 20px 320px 20px 20px;
  min-width: 0px;
  margin: 4px;
  &.flash {
    opacity: 1;
  }
}

.blue {
  width: 200px;
  height: 200px;
  opacity: 0.5;
  box-sizing: border-box;
  background-color: #3078e2;
  cursor: pointer;
  animation: 0s ease 0s 1 normal none running none;
  transition: all 0.2s ease 0s;
  border-radius: 20px 20px 20px 320px;
  min-width: 0px;
  margin: 4px;
  &.flash {
    opacity: 1;
  }
}

.yellow {
  width: 200px;
  height: 200px;
  opacity: 0.5;
  box-sizing: border-box;
  cursor: pointer;
  animation: 0s ease 0s 1 normal none running none;
  transition: all 0.2s ease 0s;
  border-radius: 20px 20px 320px;
  min-width: 0px;
  margin: 4px;
  background: #ffad39;
  &.flash {
    opacity: 1;
  }
}

.score, .startButton {
  margin: -13px;
  position: absolute;
  inset: 0px;
  margin: auto;
  color: rgb(233, 224, 224);
  border: none;
  background-color: #1b1a1a;
  font-size: 62px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  line-height: 120px;
  z-index: 2;
  padding: 5px;
  text-align: center;
  top: -5px;
  right: 88px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.closeButton {
  top: 100px;
  left: -24px;
  font-family: 'Rowdies', cursive;
  appearance: none;
  background-color: #1b1a1a;
  opacity: 1;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  box-sizing: border-box;
  color: rgb(255, 251, 251);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  left: -10px !important;
  top: 15px;
}

.closeButton:hover {
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  transition-duration: 0.1s;
  color: #1b1a1a;;
}


.closeButton:disabled {
  background-color: rgb(255, 251, 251);
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}


.closeButton:active {
  background-color: rgb(255, 251, 251);
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}


.closeButton:focus {
  outline: 1px transparent;
}

.closeButton:before {
  display: none;
}

.closeButton:-webkit-details-marker {
  display: none;
}

.lost {
  position: relative;
  left: -29px;
  bottom: 7em;
  /* width: 500px; */
  /* height: 500px; */
  color: #fffbfb;
  border-radius: 50%;
  line-height: 79px;
  letter-spacing: 10px;
  font-size: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.playIcon {
  vertical-align: 2px;
  margin-right: -14px;
  font-size: 51px;
  cursor: pointer;
}
